 <a style="text-align:left;border-top: 1px solid #fff" id="kpa_add_{{ emp_identifier }}"
 	title="{{ title }}"

 	{% if leadership_and_motivation_obj %}
            class="btn-success" data-toggle="tooltip"  data-placement="right"
            href="{{ add_leadership_and_motivation_href }}">
    {% else %}
            class="btn-warning" data-toggle="tooltip"  data-placement="right"
        href="{{ add_leadership_and_motivation_href }}">
    {% endif %}

     	Team Leadership And Motivation

 </a>