{% extends listboard_base_template %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load cms_dashboard_extras %}
{% load edc_dashboard_extras %}
{% load static %}

{% block extra-css %}
{{ block.super }}
	<link type="text/css" rel="stylesheet" href="{% static 'cms_dashboard/css/report.css' %}">
	<link href="{% static 'cms_dashboard/css/bootstrap-table.min.css' %}"rel=stylesheet>

{% endblock extra-css %}

{% block extra-scripts %}
{{ block.super }}
	<script src="{% static 'cms_dashboard/js/tableExport.min.js' %}"></script>
	<script src="{% static 'cms_dashboard/js/bootstrap-table.min.js' %}"></script>
	<script src="{% static 'cms_dashboard/js/bootstrap-table-export.min.js' %}"></script>
	<script src="{% static 'cms_dashboard/js/bootstrap-table-filter-control.min.js' %}"></script>
{% endblock %}

{% block main %}

<div class="dropdown">
  <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    PERFORMANCE SCORE KEY
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style=" padding-bottom:0px;">

	  <ul class="list-group">
		  <li class="list-group-item disabled">Exceptional Performance <span class="badge">5</span></li>
		  <li class="list-group-item disabled">Exceeds Expectations <span class="badge">4</span></li>
		  <li class="list-group-item disabled">Competent Meets Standards <span class="badge">3</span></li>
		  <li class="list-group-item disabled">Weak and Inconsistent Performance &nbsp; <span class="badge">2</span></li>
		  <li class="list-group-item disabled">Unacceptable Performance <span class="badge">1</span></li>
		  <li class="list-group-item disabled">Not Rated <span class="badge">NR</span></li>
		</ul>

  </div>
  </div>



<!-- start listboard main block-->
<div class="row">
	<div id="toolbar">
		<h3 style="font-weight:300"><img src="" width="40"> Employee Appraisals</h3>
		<a id="appraisal_add" title="add appraisal" class="btn btn-sm btn-default" role="button"
			href="{{ appraisal_add_url }}">
				<i class="fa fa-plus fa-sm"></i> Add Appraisal
    	</a>
	</div>
</div>
<!-- begin table -->
<div class="table table-responsive">
<table 	id="sort" class="table table-bordered table-hover small"
		data-toggle="table"
		data-toolbar="#toolbar"
		data-filter-control="true"
		data-show-columns="true"
  		data-show-columns-toggle-all="true"
		data-show-toggle="true"
		data-show-fullscreen="true"
		data-show-export="true"
		data-pagination="true" >
<thead>

{% block listboard_table_header %}
     <!-- begin results header -->
    <th>#</th>
    <th data-field='contract' data-sortable='true' data-filter-control="input">Contract</th>
    <th data-field='overall_perf_score' data-sortable='true' data-filter-control="input">Overall Performance Score</th>
    <th data-field='final_assess_score' data-sortable='true' data-filter-control="input">Final Assessment Score</th>
    <!-- end results header -->
{% endblock listboard_table_header %}

</thead><tbody>

{% block listboard_table_body %}
{% for result in results %}

<tr>

	<td>
		<div class="btn-group">
		{% edit_appraisal_button result %}
		{% add_performance_imp_button result %}
		</div>
	</td>

	{% block listboard_table_button_column %}

	{% endblock listboard_table_button_column %}

	{% block listboard_table_columns %}
	<td nowrap>{{ result.object.contract }}</td>
	<td nowrap>{{ result.object.overall_perf_score }}</td>
	<td nowrap>
		<span class="badge badge-pill badge-info">{{ result.object.final_assess_score }}</span>
	</td>
	{% endblock listboard_table_columns %}
</tr>

{% endfor %}
{% endblock listboard_table_body %}

</tbody></table>

<!-- begin spacer rows -->
<table>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td>&nbsp;</td></tr>
</table>
<!-- end spacer rows -->

</div><!-- end table -->

{% paginator_row %}

</div>  <!--end panel -->
</div> <!--end panel-group -->
<!-- end listboard main block -->
{% endblock main %}
