{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load cms_dashboard_extras %}

{% block listboard_panel %}
    <a id="employee_add" title="add employee" class="btn btn-sm btn-default" role="button"
        href="{{ employee_add_url }}?next={{ employee_listboard_url }}">
            <i class="fa fa-plus fa-sm"></i> Add Employee
    </a>
{% endblock listboard_panel %}

{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Employee Identifier</th>
    <th>Employee Code</th>
    <th>Employee Name</th>
    <th>Email</th>
    <th>Job Title</th>
    <th>Modified</th>
    <th>Host</th>
    <!-- end results header -->
{% endblock listboard_table_header %}


{% block listboard_table_button_column %}
    <td style="white-space: nowrap;">
    <div class="btn-group">
    {% edit_details_button result %}

     <a id="btn-dashboard" class="btn btn-success btn-sm" role="button"
     title="add_dashboard" href="{% url employee_dashboard_url result.identifier %}">
     <i class="far fa-user-circle fa-sm"></i> Dashboard  <i class="fa fa-share"></i></a>
    </div>
    </td>
{% endblock listboard_table_button_column %}


{% block listboard_table_columns %}

    <td>{{ result.identifier }} </td>
    <td nowrap>{{ result.employee_code }}</td>
    <td nowrap>{{ result.first_name }} {{ result.middle_name }} {{ result.last_name }}</td>
    <td nowrap>{{ result.email }}</td>
    <td nowrap>{{ result.job_title }}</td>
    <td nowrap>{{ result.object.modified|date:"SHORT_DATETIME_FORMAT" }}</td>  
    <td nowrap>{{ result.hostname_created }}</td>

{% endblock listboard_table_columns %}
