{% extends 'edc_base/base.html' %}


{% block extra-styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<style>
.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
</style>
{% endblock extra-styles %}

{% block main %}

<div class="container">
  <h3>{{employee.first_name}} {{employee.middle_name}} {{employee.last_name}}</h3>
  
  <div class="row">
  	<div class="col-md-9">

	    <div class="panel panel-info">
	      <div class="panel-heading">
	      	Contracts
	      
	      	<span class="pull-right">
                <a id="btn-contract" class="btn btn-default btn-sm" role="button"
			     title="add_contract" href="{{contract.href }}">
			     <i class="far fa-user-circle fa-sm"></i> Add Contract </a>            
            </span>
	      </div>
	      <div class="panel-body">
	      	<table class="table table-striped">
		    <thead>
		      <tr>
		      	<th>#</th>
		        <th>Edit/View contract</th>
		        <th>Duration</th>
		        <th>Start date</th>
		        <th>End date</th>
		        <th>Status</th>
		      </tr>
		    </thead>
		    <tbody>
		    {%for contract in contracts %}
		      <tr>
		      	<td>{{ forloop.counter }}</td>
		        <td style="white-space: nowrap;">
			    <div class="btn-group">
			     <a id="btn-contract" class="btn btn-primary btn-sm" role="button"
			     title="add_contract" href="{{contract.href }}">
			     <i class="far fa-user-circle fa-sm"></i> Edit Contract  <i class="fa fa-share"></i></a>			     
			    </div>
			    </td>
		        <td>{{contract.duration}}</td>
		        <td>{{contract.start_date|date:"M d, Y"}}</td>
		        <td>{{contract.end_date}}</td>
		        <td>{{contract.status}}</td>
		      </tr>
		    {% endfor %}
		    </tbody>
		  </table>
	      </div>
	    </div>
    
   </div>
   
   <div class="col-md-3">
   	
   		<div class="panel panel-info">
	      <div class="panel-heading">Demographics</div>
	      <div class="panel-body">
	      	<b>Name:</b> {{employee.first_name}} {{employee.middle_name}} {{employee.last_name}}</br>
	      	<b>Job Title:</b> {{employee.job_title}}</br>
	      	<b>Email:</b> {{employee.email}}</br>
	      	<b>Cell:</b> {{employee.cell}}</br>
	      	<b>Identifier:</b> {{employee.identifier}}</br>
	      	<b>Employee code:</b> {{employee.employee_code}}
	      </div>
	    </div>

   </div>
 </div> 
</div>

{% endblock main %}
